section.welcome, section.game-over, section.game-won {
  position: absolute;
  top: 160px;
  left: 262px;
  width: 630px;
  text-align: center;
  color: rgb(0, 216, 0);
}

section.score-bar {
  position: absolute;
  bottom: 3px;
  font-size: 40px;
  width: 1155px;
  text-align: center;
  color: rgb(0, 216, 0);
}

span.lives {
  float: left;
  margin-left: 10px;
}

span.score {
  float: right;
  margin-right: 10px;
}

div#score {
  display: inline;
}

p {
  font-size: 1.25em;
}

h1 {
  font-size: 4em;
}

img {
  width: 365px;
}

section.game-over {
  color: red;
}

.btn.btn-default.start-button {
  color: inherit;
  background: none;
  border: none;
  font-size: larger;
  color: rgb(0, 216, 0);
}

nav.btn.btn-default.start-button:hover {
  color: rgb(172, 0, 211);
}
