
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

section.welcome, section.game-over, section.game-won {
  position: absolute;
  top: 100px;
  left: 85px;
  width: 630px;
  text-align: center;
  color: rgb(0, 216, 0);
}

section.score-bar {
  position: absolute;
  top: 503px;
  font-size: 24px;
  width: 770px;
  text-align: center;
  color: rgb(0, 216, 0);
}

span.lives {
  float: left;
  margin-left: 15px;
}

span.score {
  float: right;
  margin-right: 40px;
}

div#score {
  display: inline;
}

p {
  font-size: 1.1em;
}

h1 {
  font-size: 3.5em;
}

img {
  width: 185px;
}

section.game-over {
  color: red;
}

.btn.btn-default.start-button {
  margin-top: 55px;
  background: none;
  border: none;
  font-size: larger;
  color: rgb(0, 216, 0);
}

nav.btn.btn-default.start-button:hover {
  color: rgb(172, 0, 211);
}
